*,
*::after,
*::before {
	padding: 0;
	margin: 0;
}

button {
	border: none;
	background: none;
}

ul {
	list-style: none;
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

body {
    font-family: Open Sans Condensed;
}

figure {
	margin: 0;
}
